.form_group {
    width: 100%;
    height: 60px;
    margin-bottom: 32px;
  }
  
  .form_label {
    position: absolute;
    margin-left: 12px;
    margin-top: 18px;
    margin-bottom: 8px;
    color: #b9b9b9;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-items: center;
  }
  
  .form_input {
    width: 90%;
    height: 60px;
    border: 1px solid #b9b9b9;
    background-color: #ffffff;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #2d2d2d;
    transition: 150ms ease-out;
    padding: 0px 16px 0px 16px;
  }
  
  .focused {
    color: #6c6c6c;
    transform: translateY(-65%);
    font-size: 12px;
    transition: all 300ms ease-in-out;
  }
  
  .invalidInput {
    background-color: #fcf3f3;
    border: 1px solid #b52217;
    color: #b52217;
  }
  
  .validInput {
    background-color: #ddf9ed;
    border: 1px solid #006b4f;
    color: #006b4f;
  }
  
  .invalidLabel {
    color: #b52217;
  }
  
  .validLabel {
    color: #006b4f;
  }
  
  .inputMessageError {
    color: #b52217;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    padding-left: 4px;
    text-align: left;
  }
  
  .icon {
    margin-right: 14px;
    margin-left: 8px;
  }
  
  /* Tablet & Desktop */
  @media only screen and (min-width: 800px) {
    .form_input {
      font-size: 24px;
      width: 500px;
    }
  
    .form_input:hover {
      border: 1px solid #b9b9b9;
    }
  
    .form_label {
      font-size: 24px;
    }
  
    .focused {
      font-size: 12px;
    }
  }
  